body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F8EFFE;
}


h1, .styled {
    font-family: 'Noto Nastaliq Urdu', serif;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
}

main {
    width: 98%;
    margin: 0 auto;
}

#game_box {
    display: flex;
    position: relative;
}

.controls {
    width: 33%;
    padding: 0 1em;
    text-align: center;
    margin: auto;
}

.controls .move-count {
    font-size: 62px;
}

.moves {
    display: flex;
    aspect-ratio: 1/1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    margin: auto;
    border-radius: 300px;
    border: 8px solid #473867;
}

.controls button {
    width: 150px;
}

button {
    margin-top: 2em;
    background: rgb(90,72,152);
    background: linear-gradient(90deg, rgba(90,72,152,1) 0%, rgba(25,6,65,1) 100%);
    border: 0 solid #473867;
    padding: 10px 36px;
    color: #eee;
    border-radius: 5px;
    font-size: 16px;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
    cursor: pointer;
}

.end button {
    margin: 1.5em auto 0;
    width: 190px;
    display: block;
}

button:hover {
    background: rgb(231,225,255);
    background: linear-gradient(90deg, rgba(231,225,255,1) 0%, rgba(90,72,152,1) 100%);
    color: #473867;
}

.end {
    position: absolute;
    width: 75%;
    background-color: rgba(255,255,255,0.9);
    left: 5%;
    right: 5%;
    top: 5%;
    padding: 5% 5% 7%;
    border-radius: 10px;
    text-align: center;
    display: none;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
    transform: rotate(45deg);
    box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.52);
    -webkit-box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.52);
    -moz-box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.52);
    line-height: 1.5em;
}

.end.opened {
    display: block;
    transform: rotate(0);
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    width: 100%;
}

.card {
    position: relative;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;

}

.board img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card-front, .card-back {
    position: absolute;
    -webkit-transition: transform 0.4s 0s ease-in-out;
    -moz-transition: transform 0.4s 0s ease-in-out;
    -o-transition: transform 0.4s 0s ease-in-out;
    transition: transform 0.4s 0s ease-in-out;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.52);
    -webkit-box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.52);
    -moz-box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.52);
}

.card-front {
    background: url(img/card_bg_2.png) center center;
    background-size: 110%;
}

.card-back {
    transform: rotateX(180deg) rotateZ(60deg);
    user-select: none;
}

/* Bewegung Front und Rückseiten */
.card.opened .card-front {
    transform: rotateX(180deg) rotateZ(60deg);
}

.card.opened .card-back {
    transform: rotateX(0) rotateZ(0);
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 21px;
        line-height: initial;
    
    }
  }

  
@media screen and (max-width: 768px) {
    .controls {
        width: 20%;
    }

    .moves {
        max-width: 75%;
    }
  }